FORMAT: 1A
HOST: http://crm-api.smartcity.jakarta.go.id

# Call Center 112

Kumpulan endpoint API untuk input data Call Center 112 dan broadcast push notification ke aplikasi sampai level petugas. Untuk saat ini masih menggunakan URI [http://crm-api-dev.smartcity.jakarta.go.id/](http://crm-api-dev.smartcity.jakarta.go.id/) untuk **development** stage. Untuk **production** stage akan menggunakan [http://crm-api.smartcity.jakarta.go.id/](http://crm-api.smartcity.jakarta.go.id/).

## Post Data Baru [/callcenter]

### Input Laporan Baru [POST]

> - Input Data Laporan Baru Menggunakan JSON
> - Setelah Data Baru Masuk, Akan Dikirimkan Push Notification ke User Terkait
> - Untuk SKPD, menggunakan id dari endpoint /callcenter/skpd

+ Parameters
    + ticket (required, string, `QGY2016092213261`) ... Tiket Laporan Call Center 112.
    + status (required, string, `Open, On Progress, Closed`) ... String dari nama status.
    + skpd (required, array, `[58,3710,115,122]`) ... Array identifier dinas dari CROP / CRM. 
    + latitude (required, string, `-6.1234567`) ... Angka float dari latitude.
    + longitude (required, string, `106.1234567`) ... Angka float dari longitude.
    + category (required, string, `Emergency, Non Emergency`) ... String category dari Call Center 112.
    + subcategory (required, string, `Kebakaran`) ... String subcategory dari Call Center 112.
    + location (optional, string, `Jalan Medan Merdeka Barat`) ... String alamat laporan dari Call Center 112.
    + location_typo (optional, string, `Jalan Medan Merdeka Barat deket pos satpam`) ... String alamat laporan dari Pelapor Call Center 112.
    + city (required, string, `3171,3172,3173,3174`) ... Angka identifier kota dari CROP / CRM.
    + kecamatan (required, string, `31711234`) ... Angka identifier kecamatan dari CROP / CRM.
    + created_date (optional, string, `2016-09-07 17:51:21`) ... Tanggal laporan masuk.

+ Request (application/json)

        {
            "ticket" : "QGY2016092213263",
            "latitude" : -6.144347,
            "longitude" : 106.750710,
            "skpd" : [58,3710,58],
            "status" : "open",
            "category" : "emergency",
            "subcategory" : "Kebakaran",
            "location" : "jalan Medan Merdeka Selatan no 8-9, Gambir, Jakarta Pusat",
            "location_typo" : "Jalan Medan Merdeka Selatan Dekat Balai Kota",
            "city" : 3173,
            "kecamatan" : 3173080,
            "created_date" : "2016-09-29 12:00:00"
        }

+ Response 200 (application/json)
    + Body

            {
                "status": "success",
                "message": "Success input data"
            }

+ Response 400 (application/json)
    + Body
    
            {
                "status": "error",
                "message": "Duplicate Entry"
            }
    
+ Response 400 (application/json)
    + Body
    
            {
                "status" : "error on post data"
            }

## Post Update Progress [/callcenter/update]

### Input Progress Baru [POST]

> - Input Data Progress Laporan Baru Menggunakan JSON
> - Untuk SKPD, menggunakan id dari endpoint /callcenter/skpd

+ Parameters
    + ticket (required, string, `QGY2016092213261`) ... Tiket Laporan Call Center 112.
    + latitude (optional, string, `-6.1234567`) ... Angka float dari latitude.
    + longitude (optional, string, `106.1234567`) ... Angka float dari longitude.
    + skpd (required, array, `[58,3710,115,122]`) ... Array identifier dinas dari CROP / CRM.
    + user (optional, string, `subagio`) ... String dari username.
    + status (required, string, `Open, On Progress, Closed`) ... String dari nama status.
    + substatus (required, string, `Preparation, On Going, On process, Resolved, Closed, Cancel`) ... String dari nama substatus.
    + message (optional, string, `Lorem Ipsum`) ... String dari message / pesan.
    + update_source (optional, string, `HT Trunking`) ... String dari message / pesan.

+ Request (application/json)
        {
            "ticket" : "QGY2016092213259",
            "latitude" : -6.1234567,
            "longitude" : 106.1234567,
            "skpd" : 3710,
            "user" : 2343497,
            "status" : "on progress",
            "substatus" : "Preparation",
            "message" : "Sedang perjalanan",
            "update_source" : "HT Trunking"
        }

+ Response 200 (application/json)
    + Body

            {
                "status": "success",
                "message": "Success input data"
            }
    
+ Response 400 (application/json)
    + Body
    
            {
                "status" : "error on post data"
            }

## Get SKPD list [/callcenter/skpd]

### Get SKPD list [GET]

+ Response 200 (application/json)
    + Body
    
    [
    {
        "id": 1,
        "nama_skpd": "SEKRETARIAT DPRD PROVINSI DKI JAKARTA",
        "is_active": true
    },
    {
        "id": 2,
        "nama_skpd": "SEKRETARIAT DAERAH PROVINSI DKI JAKARTA",
        "is_active": true
    },
    {
        "id": 3,
        "nama_skpd": "INSPEKTORAT PROVINSI DKI JAKARTA",
        "is_active": true
    },
    {
        "id": 4,
        "nama_skpd": "DEPUTI GUBERNUR BIDANG TATA RUANG DAN LINGKUNGAN HIDUP",
        "is_active": true
    },
    {
        "id": 5,
        "nama_skpd": "DEPUTI GUBERNUR BIDANG PENGENDALIAN KEPENDUDUKAN DAN PERMUKIMAN",
        "is_active": true
    },
    {
        "id": 6,
        "nama_skpd": "DEPUTI GUBERNUR BIDANG INDUSTRI, PERDAGANGAN, DAN TRANSPORTASI",
        "is_active": true
    },
    {
        "id": 7,
        "nama_skpd": "DEPUTI GUBERNUR BIDANG BUDAYA DAN PARIWISATA",
        "is_active": true
    },
    {
        "id": 9,
        "nama_skpd": "BADAN PENGAWAS PEMILIHAN UMUM",
        "is_active": true
    },
    {
        "id": 10,
        "nama_skpd": "BADAN NARKOTIKA PROVINSI DKI JAKARTA",
        "is_active": true
    },
    {
        "id": 11,
        "nama_skpd": "BADAN PENANGGULANGAN BENCANA DAERAH",
        "is_active": true
    },
    {
        "id": 12,
        "nama_skpd": "BADAN PELAYANAN TERPADU SATU PINTU",
        "is_active": true
    },
    {
        "id": 13,
        "nama_skpd": "BIRO TATA PEMERINTAHAN",
        "is_active": true
    },
    {
        "id": 14,
        "nama_skpd": "BIRO HUKUM",
        "is_active": true
    },
    {
        "id": 15,
        "nama_skpd": "BIRO ORGANISASI DAN REFORMASI BIROKRASI",
        "is_active": true
    },
    {
        "id": 16,
        "nama_skpd": "BIRO KEPALA DAERAH DAN KERJASAMA LUAR NEGERI",
        "is_active": true
    },
    {
        "id": 17,
        "nama_skpd": "BIRO UMUM",
        "is_active": true
    },
    {
        "id": 18,
        "nama_skpd": "BIRO ADMINISTRASI KEUANGAN DAN ASET DAERAH",
        "is_active": true
    },
    {
        "id": 19,
        "nama_skpd": "BIRO PEREKONOMIAN",
        "is_active": true
    },
    {
        "id": 20,
        "nama_skpd": "BIRO PENATAAN KOTA DAN LINGKUNGAN HIDUP",
        "is_active": true
    },
    {
        "id": 21,
        "nama_skpd": "BIRO KESEJAHTERAAN SOSIAL",
        "is_active": true
    },
    {
        "id": 22,
        "nama_skpd": "BIRO PENDIDIKAN DAN MENTAL SPIRITUAL",
        "is_active": true
    },
    {
        "id": 23,
        "nama_skpd": "BADAN PELAYANAN PENGADAAN BARANG JASA",
        "is_active": true
    },
    {
        "id": 24,
        "nama_skpd": "KANTOR PENGELOLA KAWASAN MONUMEN NASIONAL",
        "is_active": true
    },
    {
        "id": 26,
        "nama_skpd": "SEKRETARIAT DEWAN PENGURUS KORPS PEGAWAI REPUBLIK INDONESIA",
        "is_active": true
    },
    {
        "id": 27,
        "nama_skpd": "SEKRETARIAT PUSAT PENGKAJIAN DAN PENGEMBANGAN ISLAM JAKARTA",
        "is_active": true
    },
    {
        "id": 28,
        "nama_skpd": "BADAN PERENCANAAN PEMBANGUNAN DAERAH",
        "is_active": true
    },
    {
        "id": 29,
        "nama_skpd": "SEKRETARIAT TIM GUBERNUR UNTUK PERCEPATAN PEMBANGUNAN",
        "is_active": true
    },
    {
        "id": 30,
        "nama_skpd": "BADAN PENGELOLA KEUANGAN DAN ASET DAERAH",
        "is_active": true
    },
    {
        "id": 31,
        "nama_skpd": "PUSAT PENYIMPANAN BARANG DAERAH",
        "is_active": true
    },
    {
        "id": 32,
        "nama_skpd": "BADAN KEPEGAWAIAN DAERAH",
        "is_active": true
    },
    {
        "id": 33,
        "nama_skpd": "PUSAT DATA INFORMASI DAN STATISTIK KEPEGAWAIAN",
        "is_active": true
    },
    {
        "id": 34,
        "nama_skpd": "PUSAT PENGELOLA KOMPETENSI PEGAWAI",
        "is_active": true
    },
    {
        "id": 37,
        "nama_skpd": "PUSAT UJI KOMPETENSI DAN SERTIFIKASI PROFESI PEGAWAI",
        "is_active": true
    },
    {
        "id": 38,
        "nama_skpd": "BADAN PEMBINAAN BADAN USAHA MILIK DAERAH DAN PENANAMAN MODAL",
        "is_active": true
    },
    {
        "id": 40,
        "nama_skpd": "LABORATORIUM LINGKUNGAN HIDUNIT PENGELOLA DAERAH",
        "is_active": true
    },
    {
        "id": 41,
        "nama_skpd": "BADAN PEMBERDAYAAN MASYARAKAT, PEREMPUAN, DAN KELUARGA BERENCANA",
        "is_active": true
    },
    {
        "id": 42,
        "nama_skpd": "PUSAT PENDIDIKAN DAN PELATIHAN KELUARGA BERENCANA DAN KESETARAAN GENDER",
        "is_active": true
    },
    {
        "id": 43,
        "nama_skpd": "BADAN PERPUSTAKAAN DAN ARSIP DAERAH",
        "is_active": true
    },
    {
        "id": 44,
        "nama_skpd": "DINAS PELAYANAN PAJAK",
        "is_active": true
    },
    {
        "id": 45,
        "nama_skpd": "UNIT PELAYANAN PENYULUH DAN KEHUMASAN",
        "is_active": true
    },
    {
        "id": 46,
        "nama_skpd": "DINAS OLAHRAGA DAN PEMUDA",
        "is_active": true
    },
    {
        "id": 47,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG OLAHRAGA RAWAMANGUN",
        "is_active": true
    },
    {
        "id": 48,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG OLAHRAGA SUNTER",
        "is_active": true
    },
    {
        "id": 49,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG OLAHRAGA BAHTERA JAYA",
        "is_active": true
    },
    {
        "id": 51,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG OLAHRAGA CIRACAS",
        "is_active": true
    },
    {
        "id": 52,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG OLAHRAGA CENDRAWASIH",
        "is_active": true
    },
    {
        "id": 53,
        "nama_skpd": "PUSAT PELATIHAN OLAHRAGA PELAJAR",
        "is_active": true
    },
    {
        "id": 54,
        "nama_skpd": "DINAS KESEHATAN",
        "is_active": true
    },
    {
        "id": 55,
        "nama_skpd": "LABORATORIUM KESEHATAN DAERAH",
        "is_active": true
    },
    {
        "id": 56,
        "nama_skpd": "PUSAT PELAYANAN KESEHATAN PEGAWAI",
        "is_active": true
    },
    {
        "id": 57,
        "nama_skpd": "AKADEMI KEPERAWATAN JAYAKARTA",
        "is_active": true
    },
    {
        "id": 58,
        "nama_skpd": "UNIT PELAYANAN AMBULANS GAWAT DARURAT",
        "is_active": true
    },
    {
        "id": 59,
        "nama_skpd": "UNIT PENYELENGGARA JAMINAN PEMELIHARAAN KES DAERAH",
        "is_active": true
    },
    {
        "id": 60,
        "nama_skpd": "DINAS PENDIDIKAN",
        "is_active": true
    },
    {
        "id": 61,
        "nama_skpd": "PUSAT PENGEMBANGAN MANAJEMEN SEKOLAH",
        "is_active": true
    },
    {
        "id": 62,
        "nama_skpd": "PUSAT PERENCANAAN, PENGENDALIAN, PENDIDIKAN PERSONAL DAN OPERASIONAL",
        "is_active": true
    },
    {
        "id": 63,
        "nama_skpd": "PUSAT DATA DAN INFORMASI",
        "is_active": true
    },
    {
        "id": 64,
        "nama_skpd": "PUSAT PELATIHAN DAN PENG PENDIDIKAN NONFORMAL DAN INFORMAL",
        "is_active": true
    },
    {
        "id": 65,
        "nama_skpd": "PLANETARIUM DAN OBSERVATORIUM",
        "is_active": true
    },
    {
        "id": 66,
        "nama_skpd": "DINAS SOSIAL",
        "is_active": true
    },
    {
        "id": 67,
        "nama_skpd": "DINAS KEBERSIHAN",
        "is_active": true
    },
    {
        "id": 68,
        "nama_skpd": "UNIT TEMPAT PENGOLAHAN SAMPAH TERPADU",
        "is_active": true
    },
    {
        "id": 69,
        "nama_skpd": "UNIT PENGELOLA KEBERSIHAN BDN AIR, TMN DAN JLR HIJAU",
        "is_active": true
    },
    {
        "id": 71,
        "nama_skpd": "DINAS TATA AIR",
        "is_active": true
    },
    {
        "id": 72,
        "nama_skpd": "UNIT PERALATAN DAN PERBEKALAN TATA AIR",
        "is_active": true
    },
    {
        "id": 73,
        "nama_skpd": "UNIT PENYELIDIKAN PENGUKURAN DAN PENGUJIAN TATA AIR",
        "is_active": true
    },
    {
        "id": 74,
        "nama_skpd": "UNIT PENGADAAN TANAH TATA AIR",
        "is_active": true
    },
    {
        "id": 75,
        "nama_skpd": "UNIT PENGELOLAAN DATA DAN INFORMASI TATA AIR",
        "is_active": true
    },
    {
        "id": 76,
        "nama_skpd": "DINAS PENATAAN KOTA",
        "is_active": true
    },
    {
        "id": 77,
        "nama_skpd": "DINAS PERUMAHAN DAN GEDUNG PEMERINTAHAN DAERAH",
        "is_active": true
    },
    {
        "id": 78,
        "nama_skpd": "UNIT PENGELOLA RUSUN WILAYAH I",
        "is_active": true
    },
    {
        "id": 79,
        "nama_skpd": "UNIT PENGELOLA RUSUN WILAYAH II",
        "is_active": true
    },
    {
        "id": 80,
        "nama_skpd": "UNIT PENGELOLA RUSUN WILAYAH III",
        "is_active": true
    },
    {
        "id": 81,
        "nama_skpd": "DINAS BINA MARGA",
        "is_active": true
    },
    {
        "id": 82,
        "nama_skpd": "UNIT PERALATAN DAN PERBEKALAN BINA MARGA",
        "is_active": true
    },
    {
        "id": 83,
        "nama_skpd": "UNIT PENYELIDIKAN PENGUKURAN DAN PENGUJIAN BINAMARGA",
        "is_active": true
    },
    {
        "id": 105,
        "nama_skpd": "DINAS KOPERASI, USAHA MIKRO, KECIL, DAN MENENGAH, SERTA PERDAGANGAN",
        "is_active": true
    },
    {
        "id": 106,
        "nama_skpd": "UNIT PENGELOLA BALAI METROLOGI",
        "is_active": true
    },
    {
        "id": 107,
        "nama_skpd": "PUSAT PENDIDIKAN DAN PELATIHAN KUMKM DAN PERDAGANGAN",
        "is_active": true
    },
    {
        "id": 108,
        "nama_skpd": "UNIT PENGELOLA DANA BERGULIR PEMBERDAYAAN EKONOMI MASYARAKAT KEL",
        "is_active": true
    },
    {
        "id": 109,
        "nama_skpd": "UNIT PENGELOLA LOKASI BINAAN DAN PUSAT PROMOSI UMKM",
        "is_active": true
    },
    {
        "id": 110,
        "nama_skpd": "UNIT PENGELOLA KWSAN PST PENGEMB UMKM DAN PERMUKIMAN PULO GADUNG",
        "is_active": true
    },
    {
        "id": 111,
        "nama_skpd": "DINAS KOMUNIKASI, INFORMATIKA, DAN KEHUMASAN",
        "is_active": true
    },
    {
        "id": 112,
        "nama_skpd": "UNIT LAYANAN PENGADAAN SECARA ELEKTRONIK",
        "is_active": true
    },
    {
        "id": 113,
        "nama_skpd": "SEKRETARIAT KOMISI PENYIARAN DAN KOMISI INFORMASI",
        "is_active": true
    },
    {
        "id": 114,
        "nama_skpd": "UNIT PENGELOLA JAKARTA SMART CITY",
        "is_active": true
    },
    {
        "id": 115,
        "nama_skpd": "DINAS PENANGGULANGAN KEBAKARAN DAN PENYELAMATAN",
        "is_active": true
    },
    {
        "id": 116,
        "nama_skpd": "PUSPENPEL PENANGGULANGAN KEBAKARAN DAN PENYELAMATAN",
        "is_active": true
    },
    {
        "id": 117,
        "nama_skpd": "UNIT BENGKEL INDUK",
        "is_active": true
    },
    {
        "id": 118,
        "nama_skpd": "LABORATURIUM KEBAKARAN DAN PENYELAMATAN",
        "is_active": true
    },
    {
        "id": 119,
        "nama_skpd": "DINAS KEPENDUDUKAN DAN PENCATATAN SIPIL",
        "is_active": true
    },
    {
        "id": 120,
        "nama_skpd": "UNIT PENGELOLA DOKUMEN ADMINISTRASI KEPENDUDUKAN",
        "is_active": true
    },
    {
        "id": 121,
        "nama_skpd": "UNIT PENGELOLA TEKNOLOGI INFORMASI KEPENDUDUKAN",
        "is_active": true
    },
    {
        "id": 122,
        "nama_skpd": "SATUAN POLISI PAMONG PRAJA",
        "is_active": true
    },
    {
        "id": 123,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH TARAKAN",
        "is_active": true
    },
    {
        "id": 124,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH BUDHI ASIH",
        "is_active": true
    },
    {
        "id": 125,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH PASAR REBO",
        "is_active": true
    },
    {
        "id": 126,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH KOJA",
        "is_active": true
    },
    {
        "id": 127,
        "nama_skpd": "RUMAH SAKIT UMUM KHUSUS DUREN SAWIT",
        "is_active": true
    },
    {
        "id": 128,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH CENGKARENG",
        "is_active": true
    },
    {
        "id": 129,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH PASAR MINGGU",
        "is_active": true
    },
    {
        "id": 130,
        "nama_skpd": "BADAN AMIL ZAKAT, INFAQ, DAN SHADAQAH",
        "is_active": true
    },
    {
        "id": 131,
        "nama_skpd": "SEKRETARIAT BADAN KOORDINASI SERTIFIKASI PROFESI",
        "is_active": true
    },
    {
        "id": 132,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK BALITA TUNAS BANGSA",
        "is_active": true
    },
    {
        "id": 133,
        "nama_skpd": "PUSAT PENGUJIAN KENDARAAN BERMOTOR PULO GADUNG",
        "is_active": true
    },
    {
        "id": 134,
        "nama_skpd": "UNIT PENGELOLA GRAHA WISATA",
        "is_active": true
    },
    {
        "id": 135,
        "nama_skpd": "PANTI SOSIAL BINA REMAJA TARUNA JAYA",
        "is_active": true
    },
    {
        "id": 136,
        "nama_skpd": "PUSAT PENGUJIAN KENDARAAN BERMOTOR UJUNG MENTENG",
        "is_active": true
    },
    {
        "id": 137,
        "nama_skpd": "UNIT PENGELOLA KAWASAN KOTA TUA",
        "is_active": true
    },
    {
        "id": 138,
        "nama_skpd": "PANTI SOSIAL PERLINDUNGAN BHAKTI KASIH",
        "is_active": true
    },
    {
        "id": 139,
        "nama_skpd": "PUSAT PENGUJIAN KENDARAAN BERMOTOR CILINCING",
        "is_active": true
    },
    {
        "id": 140,
        "nama_skpd": "UNIT PENGELOLA MUSEUM KESEJARAHAN JAKARTA",
        "is_active": true
    },
    {
        "id": 141,
        "nama_skpd": "PANTI SOSIAL BINA NETRA CAHAYA BATHIN",
        "is_active": true
    },
    {
        "id": 142,
        "nama_skpd": "UNIT PENGELOLA TERMINAL ANGKUTAN JALAN",
        "is_active": true
    },
    {
        "id": 143,
        "nama_skpd": "UNIT PENGELOLA MUSEUM SENI RUPA JAKARTA",
        "is_active": true
    },
    {
        "id": 144,
        "nama_skpd": "PANTI SOSIAL BINA DAKSA BUDI BHAKTI",
        "is_active": true
    },
    {
        "id": 145,
        "nama_skpd": "UNIT PENGELOLA TERMINAL TERPADU PULO GEBANG",
        "is_active": true
    },
    {
        "id": 146,
        "nama_skpd": "UNIT PENGELOLA MUSEUM KEBAHARIAN JAKARTA",
        "is_active": true
    },
    {
        "id": 147,
        "nama_skpd": "PANTI SOSIAL BINA GRAHITA BELAIAN KASIH",
        "is_active": true
    },
    {
        "id": 148,
        "nama_skpd": "UNIT PENGELOLA ANGKUTAN SEKOLAH",
        "is_active": true
    },
    {
        "id": 149,
        "nama_skpd": "UNIT PENGELOLA PUSAT KESENIAN JAKARTA TAMAN ISMAIL MARZUKI",
        "is_active": true
    },
    {
        "id": 150,
        "nama_skpd": "PANTI SOSIAL PAMARDI PUTRA KHUSNUL KHOTIMAH",
        "is_active": true
    },
    {
        "id": 151,
        "nama_skpd": "UNIT PENGELOLA PERPARKIRAN",
        "is_active": true
    },
    {
        "id": 152,
        "nama_skpd": "UNIT PENGELOLA KONSERVASI DAN CAGAR BUDAYA",
        "is_active": true
    },
    {
        "id": 153,
        "nama_skpd": "PANTI SOSIAL BINA KARYA HARAPAN JAYA",
        "is_active": true
    },
    {
        "id": 154,
        "nama_skpd": "UNIT PENGELOLA SISTEM PENGENDALIAN LALU LINTAS",
        "is_active": true
    },
    {
        "id": 155,
        "nama_skpd": "PUSAT PELATIHAN SENI BUDAYA",
        "is_active": true
    },
    {
        "id": 156,
        "nama_skpd": "PANTI SOSIAL BINA KARYA WANITA HARAPAN MULIA",
        "is_active": true
    },
    {
        "id": 157,
        "nama_skpd": "UNIT PENGELOLA ANGKUTAN PERAIRAN DAN KEPELABUHAN",
        "is_active": true
    },
    {
        "id": 158,
        "nama_skpd": "PUSAT PELAYANAN INFORMASI PARIWISATA DAN KEBUDAYAAN",
        "is_active": true
    },
    {
        "id": 159,
        "nama_skpd": "PANTI SOSIAL BINA INSAN BANGUN DAYA I",
        "is_active": true
    },
    {
        "id": 160,
        "nama_skpd": "UNIT PENGELOLA PENGENDALI LALU LINTAS JALAN BERBAYAR (ERP)",
        "is_active": true
    },
    {
        "id": 161,
        "nama_skpd": "PUSAT PELATIHAN DAN SERTIFIKASI PROFESI PARIWISATA",
        "is_active": true
    },
    {
        "id": 162,
        "nama_skpd": "PANTI SOSIAL BINA INSAN BANGUN DAYA II",
        "is_active": true
    },
    {
        "id": 163,
        "nama_skpd": "PUSAT PENGUJIAN KENDARAAN BERMOTOR JAGAKARSA",
        "is_active": true
    },
    {
        "id": 164,
        "nama_skpd": "MUSEUM PRASASTI",
        "is_active": true
    },
    {
        "id": 165,
        "nama_skpd": "PANTI SOSIAL BINA INSAN BANGUN DAYA III",
        "is_active": true
    },
    {
        "id": 166,
        "nama_skpd": "PUSAT PENGUJIAN KENDARAAN BERMOTOR KEDAUNG KALIANGKE",
        "is_active": true
    },
    {
        "id": 167,
        "nama_skpd": "SEKRETARIAT PENGEMBANGAN BUDAYA BETAWI",
        "is_active": true
    },
    {
        "id": 168,
        "nama_skpd": "PANTI SOSIAL BINA LARAS HARAPAN SENTOSA I",
        "is_active": true
    },
    {
        "id": 169,
        "nama_skpd": "UNIT PENGELOLA KERETA API RINGAN",
        "is_active": true
    },
    {
        "id": 170,
        "nama_skpd": "PANTI SOSIAL BINA LARAS HARAPAN SENTOSA II",
        "is_active": true
    },
    {
        "id": 171,
        "nama_skpd": "PANTI SOSIAL BINA LARAS HARAPAN SENTOSA III",
        "is_active": true
    },
    {
        "id": 172,
        "nama_skpd": "PANTI SOSIAL BINA LARAS HARAPAN SENTOSA IV",
        "is_active": true
    },
    {
        "id": 173,
        "nama_skpd": "PANTI SOSIAL TRESNA WERDHA BUDI MULIA I",
        "is_active": true
    },
    {
        "id": 174,
        "nama_skpd": "PANTI SOSIAL TRESNA WERDHA BUDI MULIA II",
        "is_active": true
    },
    {
        "id": 175,
        "nama_skpd": "PANTI SOSIAL TRESNA WERDHA BUDI MULIA III",
        "is_active": true
    },
    {
        "id": 176,
        "nama_skpd": "PANTI SOSIAL TRESNA WERDHA BUDI MULIA IV",
        "is_active": true
    },
    {
        "id": 177,
        "nama_skpd": "PANTI SOSIAL TRESNA WERDHA USADA MULIA V",
        "is_active": true
    },
    {
        "id": 178,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK PUTRA UTAMA I",
        "is_active": true
    },
    {
        "id": 179,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK PUTRA UTAMA II",
        "is_active": true
    },
    {
        "id": 180,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK PUTRA UTAMA III",
        "is_active": true
    },
    {
        "id": 181,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK PUTRA UTAMA IV",
        "is_active": true
    },
    {
        "id": 182,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK PUTRA UTAMA V",
        "is_active": true
    },
    {
        "id": 183,
        "nama_skpd": "PANTI SOSIAL ASUHAN ANAK PUTRA UTAMA VI",
        "is_active": true
    },
    {
        "id": 184,
        "nama_skpd": "INSPEKTORAT PEMBANTU KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 185,
        "nama_skpd": "SEKRETARIAT KPU KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 186,
        "nama_skpd": "SEKRETARIAT KOTA ADMINISTRASI JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 187,
        "nama_skpd": "PELAKSANA PENANGGULANGAN BENCANA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 188,
        "nama_skpd": "KANTOR PTSP KOTA ADMINISTRASI JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 189,
        "nama_skpd": "UNIT LAYANAN PENGADAAN BARANG JASA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 190,
        "nama_skpd": "SEKRETARIAT DEWAN PENGURUS KORPS PEGAWAI REPUBLIK INDONESIA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 191,
        "nama_skpd": "KANTOR PERENCANAAN PEMBANGUNAN KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 192,
        "nama_skpd": "KANTOR PERBENDAHARAAN DAN KAS KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 193,
        "nama_skpd": "KANTOR PENGELOLAAN ASET DAERAH KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 194,
        "nama_skpd": "KANTOR KEPEGAWAIAN KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 195,
        "nama_skpd": "KANTOR KESATUAN BANGSA DAN POLITIK KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 196,
        "nama_skpd": "KANTOR PENGELOLA LINGKUNGAN HIDUNIT PENGELOLA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 197,
        "nama_skpd": "KANTOR PEMBERDAYAAN MASY DAN PEREMPUAN KOTA ADM JP",
        "is_active": true
    },
    {
        "id": 198,
        "nama_skpd": "KANTOR KELUARGA BERENCANA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 199,
        "nama_skpd": "KANTOR PERPUSTAKAAN DAN ARSIP KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 200,
        "nama_skpd": "SD BERSUBSIDI FRANSISKUS I JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 201,
        "nama_skpd": "SD BERSUBSIDI SANTA URSULA I JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 202,
        "nama_skpd": "SD BERSUBSIDI THERESIA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 203,
        "nama_skpd": "SD BERSUBSIDI MUHAMMADIYAH II JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 204,
        "nama_skpd": "SD NEGERI PERCOBAAN MENTENG 01 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 205,
        "nama_skpd": "SD NEGERI PERCOBAAN MENTENG 02 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 206,
        "nama_skpd": "SD NEGERI PERCOBAAN MENTENG 03 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 207,
        "nama_skpd": "SD NEGERI PERCOBAAN MENTENG 04 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 208,
        "nama_skpd": "TK NEGERI MERDEKA TIMUR KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 209,
        "nama_skpd": "TK NEGERI CILACAP KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 210,
        "nama_skpd": "TK NEGERI BESUKI KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 211,
        "nama_skpd": "TK NEGERI JL TEGAL KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 212,
        "nama_skpd": "SUDIN PELAYANAN PAJAK KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 213,
        "nama_skpd": "UNIT PELAKSANA PENGURANGAN KEBERATAN DAN BANDING",
        "is_active": true
    },
    {
        "id": 214,
        "nama_skpd": "UNIT PELAYANAN PKB DAN BBN-KB KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 215,
        "nama_skpd": "SUDIN OLAHRAGA DAN PEMUDA KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 216,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG REMAJA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 217,
        "nama_skpd": "SUDIN KESEHATAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 218,
        "nama_skpd": "SUDIN PENDIDIKAN WILAYAH I KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 219,
        "nama_skpd": "SUDIN PENDIDIKAN WILAYAH II KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 220,
        "nama_skpd": "PUSAT PENGEMBANGAN KOMP GURU DAN KEJ KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 221,
        "nama_skpd": "SUDIN SOSIAL KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 222,
        "nama_skpd": "SUDIN KEBERSIHAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 223,
        "nama_skpd": "SUDIN PERTAMANAN DAN PEMAKAMAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 224,
        "nama_skpd": "SUDIN TATA AIR KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 225,
        "nama_skpd": "SUDIN PENATAAN KOTA KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 226,
        "nama_skpd": "SUDIN PERUMAHAN DAN GEDUNG PEMERINTAHAN DAERAH KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 227,
        "nama_skpd": "SUDIN BINA MARGA KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 228,
        "nama_skpd": "SUDIN TENAGA KERJA DAN TRANSMIGRASI KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 229,
        "nama_skpd": "PUSAT PELATIHAN KERJA DAERAH KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 230,
        "nama_skpd": "SUDIN PERHUBUNGAN DAN TRANSPORTASI KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 231,
        "nama_skpd": "SUDIN PARIWISATA DAN KEBUDAYAAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 232,
        "nama_skpd": "SUDIN KELAUTAN, PERTANIAN, DAN KETAHANAN PANGAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 233,
        "nama_skpd": "SUDIN PERINDUSTRIAN DAN ENERGI KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 234,
        "nama_skpd": "SUDIN KOPERASI, USAHA MIKRO, KECIL, DAN MENENGAH, SERTA PERDAGANGAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 235,
        "nama_skpd": "SUDIN KOMUNIKASI, INFORMATIKA, DAN KEHUMASAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 236,
        "nama_skpd": "SUDIN PENANGGULANGAN KEBAKARAN KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 237,
        "nama_skpd": "SUDIN KEPENDUDUKAN DAN PENCATATAN SIPIL KOTA JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 238,
        "nama_skpd": "SATUAN POLISI PAMONG PRAJA KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 239,
        "nama_skpd": "SATUAN PELAKSANA BAZIS KOTA ADM JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 240,
        "nama_skpd": "KECAMATAN GAMBIR",
        "is_active": true
    },
    {
        "id": 241,
        "nama_skpd": "SMU 4 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 242,
        "nama_skpd": "SMU 25 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 243,
        "nama_skpd": "SMK 2 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 244,
        "nama_skpd": "SMK 38 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 245,
        "nama_skpd": "SLTP 39 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 246,
        "nama_skpd": "SLTP 60 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 247,
        "nama_skpd": "SLTP 72 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 248,
        "nama_skpd": "SLTP 94 KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 249,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN GAMBIR",
        "is_active": true
    },
    {
        "id": 250,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN GAMBIR",
        "is_active": true
    },
    {
        "id": 251,
        "nama_skpd": "KELURAHAN CIDENG",
        "is_active": true
    },
    {
        "id": 252,
        "nama_skpd": "SDN CIDENG 02",
        "is_active": true
    },
    {
        "id": 253,
        "nama_skpd": "SDN CIDENG 04 PETANG",
        "is_active": true
    },
    {
        "id": 254,
        "nama_skpd": "SDN CIDENG 06 PETANG",
        "is_active": true
    },
    {
        "id": 255,
        "nama_skpd": "SDN CIDENG 07 PAGI",
        "is_active": true
    },
    {
        "id": 256,
        "nama_skpd": "SDN CIDENG 08 PAGI",
        "is_active": true
    },
    {
        "id": 257,
        "nama_skpd": "SDN CIDENG 09 PAGI",
        "is_active": true
    },
    {
        "id": 258,
        "nama_skpd": "SDN CIDENG 10 PAGI",
        "is_active": true
    },
    {
        "id": 259,
        "nama_skpd": "SDN CIDENG 11 PETANG",
        "is_active": true
    },
    {
        "id": 260,
        "nama_skpd": "SDN CIDENG 13 PAGI",
        "is_active": true
    },
    {
        "id": 261,
        "nama_skpd": "SDN CIDENG 14 PETANG",
        "is_active": true
    },
    {
        "id": 262,
        "nama_skpd": "KELURAHAN DURI PULO",
        "is_active": true
    },
    {
        "id": 263,
        "nama_skpd": "PUSKESMAS KELURAHAN DURI PULO KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 264,
        "nama_skpd": "SDN DURI PULO 01 PAGI",
        "is_active": true
    },
    {
        "id": 265,
        "nama_skpd": "SDN DURI PULO 02 PAGI",
        "is_active": true
    },
    {
        "id": 266,
        "nama_skpd": "SDN DURI PULO 03 PAGI",
        "is_active": true
    },
    {
        "id": 267,
        "nama_skpd": "SDN DURI PULO 04 PAGI",
        "is_active": true
    },
    {
        "id": 268,
        "nama_skpd": "SDN DURI PULO 05 PETANG",
        "is_active": true
    },
    {
        "id": 269,
        "nama_skpd": "SDN DURI PULO 06 PETANG",
        "is_active": true
    },
    {
        "id": 270,
        "nama_skpd": "SDN DURI PULO 07 PAGI",
        "is_active": true
    },
    {
        "id": 271,
        "nama_skpd": "SDN DURI PULO 08 PAGI",
        "is_active": true
    },
    {
        "id": 272,
        "nama_skpd": "SDN DURI PULO 09 PAGI",
        "is_active": true
    },
    {
        "id": 273,
        "nama_skpd": "SDN DURI PULO 10 PAGI",
        "is_active": true
    },
    {
        "id": 274,
        "nama_skpd": "KELURAHAN PETOJO UTARA",
        "is_active": true
    },
    {
        "id": 275,
        "nama_skpd": "PUSKESMAS KELURAHAN PETOJO UTARA KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 276,
        "nama_skpd": "SDN PETOJO UTARA 01 PAGI",
        "is_active": true
    },
    {
        "id": 277,
        "nama_skpd": "SDN PETOJO UTARA 03 PAGI",
        "is_active": true
    },
    {
        "id": 278,
        "nama_skpd": "SDN PETOJO UTARA 04 PETANG",
        "is_active": true
    },
    {
        "id": 279,
        "nama_skpd": "SDN PETOJO UTARA 05 PAGI",
        "is_active": true
    },
    {
        "id": 280,
        "nama_skpd": "SDN PETOJO UTARA 09 PAGI",
        "is_active": true
    },
    {
        "id": 281,
        "nama_skpd": "SDN PETOJO UTARA 13 PAGI",
        "is_active": true
    },
    {
        "id": 282,
        "nama_skpd": "KELURAHAN PETOJO SELATAN",
        "is_active": true
    },
    {
        "id": 283,
        "nama_skpd": "PESKESMAS KELURAHAN PETOJO SELATAN KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 284,
        "nama_skpd": "SDN PETOJO SELATAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 285,
        "nama_skpd": "SDN PETOJO SELATAN 02 PAGI",
        "is_active": true
    },
    {
        "id": 286,
        "nama_skpd": "SDN PETOJO SELATAN 05 PAGI",
        "is_active": true
    },
    {
        "id": 287,
        "nama_skpd": "SDN PETOJO SELATAN 06 PAGI",
        "is_active": true
    },
    {
        "id": 288,
        "nama_skpd": "KELURAHAN KEBON KELAPA",
        "is_active": true
    },
    {
        "id": 289,
        "nama_skpd": "PUSKESMAS KELURAHAN KEBON KELAPA KECAMATAN GAMBIR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 290,
        "nama_skpd": "SDN KEBON KELAPA 01 PAGI",
        "is_active": true
    },
    {
        "id": 291,
        "nama_skpd": "SDN KEBON KELAPA 02 PAGI",
        "is_active": true
    },
    {
        "id": 292,
        "nama_skpd": "KELURAHAN GAMBIR",
        "is_active": true
    },
    {
        "id": 293,
        "nama_skpd": "KECAMATAN SAWAH BESAR",
        "is_active": true
    },
    {
        "id": 294,
        "nama_skpd": "SMU 1 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 295,
        "nama_skpd": "SMU 10 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 296,
        "nama_skpd": "SMU 20 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 297,
        "nama_skpd": "SMK 1 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 298,
        "nama_skpd": "SMK 27 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 299,
        "nama_skpd": "SLTP 4 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 300,
        "nama_skpd": "SLTP 5 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 301,
        "nama_skpd": "SLTP 17 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 302,
        "nama_skpd": "SLTP 64 KECAMATAN SAWAH BESAR JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 303,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN SAWAH BESAR",
        "is_active": true
    },
    {
        "id": 304,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN SAWAH BESAR",
        "is_active": true
    },
    {
        "id": 305,
        "nama_skpd": "RUMAH SAKIT UMUM KELAS D SAWAH BESAR",
        "is_active": true
    },
    {
        "id": 306,
        "nama_skpd": "KELURAHAN MANGGA DUA SELATAN",
        "is_active": true
    },
    {
        "id": 307,
        "nama_skpd": "PUSKESMAS KELURAHAN MANGGA DUA SELATAN KECAMATAN SAWAH BESAR",
        "is_active": true
    },
    {
        "id": 308,
        "nama_skpd": "SDN MANGGA DUA SELATAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 309,
        "nama_skpd": "SDN MANGGA DUA SELATAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 310,
        "nama_skpd": "SDN MANGGA DUA SELATAN 03 PAGI",
        "is_active": true
    },
    {
        "id": 311,
        "nama_skpd": "SDN MANGGA DUA SELATAN 05 PAGI",
        "is_active": true
    },
    {
        "id": 312,
        "nama_skpd": "KELURAHAN KARANG ANYAR",
        "is_active": true
    },
    {
        "id": 313,
        "nama_skpd": "SDN KARANG ANYAR 01 PAGI",
        "is_active": true
    },
    {
        "id": 314,
        "nama_skpd": "SDN KARANG ANYAR 02 PETANG",
        "is_active": true
    },
    {
        "id": 315,
        "nama_skpd": "SDN KARANG ANYAR 03 PAGI",
        "is_active": true
    },
    {
        "id": 316,
        "nama_skpd": "SDN KARANG ANYAR 04 PETANG",
        "is_active": true
    },
    {
        "id": 317,
        "nama_skpd": "SDN KARANG ANYAR 05 PAGI",
        "is_active": true
    },
    {
        "id": 318,
        "nama_skpd": "SDN KARANG ANYAR 06 PETANG",
        "is_active": true
    },
    {
        "id": 319,
        "nama_skpd": "SDN KARANG ANYAR 07 PAGI",
        "is_active": true
    },
    {
        "id": 320,
        "nama_skpd": "SDN KARANG ANYAR 08 PAGI",
        "is_active": true
    },
    {
        "id": 321,
        "nama_skpd": "KELURAHAN KARTINI",
        "is_active": true
    },
    {
        "id": 322,
        "nama_skpd": "PUSKESMAS KELURAHAN KARTINI KECAMATAN SAWAH BESAR",
        "is_active": true
    },
    {
        "id": 323,
        "nama_skpd": "SDN KARTINI 01 PAGI",
        "is_active": true
    },
    {
        "id": 324,
        "nama_skpd": "SDN KARTINI 02 PETANG",
        "is_active": true
    },
    {
        "id": 325,
        "nama_skpd": "KELURAHAN PASAR BARU",
        "is_active": true
    },
    {
        "id": 326,
        "nama_skpd": "SDN PASAR BARU 01 PAGI",
        "is_active": true
    },
    {
        "id": 327,
        "nama_skpd": "SDN PASAR BARU 02 PETANG",
        "is_active": true
    },
    {
        "id": 328,
        "nama_skpd": "SDN PASAR BARU 03 PAGI",
        "is_active": true
    },
    {
        "id": 329,
        "nama_skpd": "SDN PASAR BARU 04 PETANG",
        "is_active": true
    },
    {
        "id": 330,
        "nama_skpd": "SDN PASAR BARU 05 PAGI",
        "is_active": true
    },
    {
        "id": 331,
        "nama_skpd": "SDN PASAR BARU 07 PAGI",
        "is_active": true
    },
    {
        "id": 332,
        "nama_skpd": "SDN PASAR BARU 09 PAGI",
        "is_active": true
    },
    {
        "id": 333,
        "nama_skpd": "SDN PASAR BARU 11 PAGI",
        "is_active": true
    },
    {
        "id": 334,
        "nama_skpd": "SDN PASAR BARU 12 PETANG",
        "is_active": true
    },
    {
        "id": 335,
        "nama_skpd": "SDN PASAR BARU 13 PAGI",
        "is_active": true
    },
    {
        "id": 336,
        "nama_skpd": "KELURAHAN GUNUNG SAHARI UTARA",
        "is_active": true
    },
    {
        "id": 337,
        "nama_skpd": "SDN GUNUNG SAHARI UTARA 01 PAGI",
        "is_active": true
    },
    {
        "id": 338,
        "nama_skpd": "KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 339,
        "nama_skpd": "SMU 5 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 340,
        "nama_skpd": "SMK 3 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 341,
        "nama_skpd": "SMK 21 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 342,
        "nama_skpd": "SMK 44 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 343,
        "nama_skpd": "SMK 54 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 344,
        "nama_skpd": "SLTP 10 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 345,
        "nama_skpd": "SLTP 59 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 346,
        "nama_skpd": "SLTP 78 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 347,
        "nama_skpd": "SLTP 79 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 348,
        "nama_skpd": "SLTP 93 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 349,
        "nama_skpd": "SLTP 119 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 350,
        "nama_skpd": "SLTP 183 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 351,
        "nama_skpd": "SLTP 228 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 352,
        "nama_skpd": "SLTP 269 KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 353,
        "nama_skpd": "SLB NEGERI 3 KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 354,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 355,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 356,
        "nama_skpd": "RUMAH SAKIT UMUM KELAS D KEMAYORAN",
        "is_active": true
    },
    {
        "id": 357,
        "nama_skpd": "KELURAHAN GUNUNG SAHARI SELATAN",
        "is_active": true
    },
    {
        "id": 358,
        "nama_skpd": "SDN GUNUNG SAHARI SELATAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 359,
        "nama_skpd": "SDN GUNUNG SAHARI SELATAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 360,
        "nama_skpd": "KELURAHAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 361,
        "nama_skpd": "SDN KEMAYORAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 362,
        "nama_skpd": "SDN KEMAYORAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 363,
        "nama_skpd": "SDN KEMAYORAN 03 PAGI",
        "is_active": true
    },
    {
        "id": 364,
        "nama_skpd": "SDN KEMAYORAN 07 PAGI",
        "is_active": true
    },
    {
        "id": 365,
        "nama_skpd": "SDN KEMAYORAN 08 PETANG",
        "is_active": true
    },
    {
        "id": 366,
        "nama_skpd": "SDN KEMAYORAN 09 PAGI",
        "is_active": true
    },
    {
        "id": 367,
        "nama_skpd": "SDN KEMAYORAN 10 PETANG",
        "is_active": true
    },
    {
        "id": 368,
        "nama_skpd": "SDN KEMAYORAN 11 PAGI",
        "is_active": true
    },
    {
        "id": 369,
        "nama_skpd": "SDN KEMAYORAN 12 PETANG",
        "is_active": true
    },
    {
        "id": 370,
        "nama_skpd": "SDN KEMAYORAN 13 PAGI",
        "is_active": true
    },
    {
        "id": 371,
        "nama_skpd": "SDN KEMAYORAN 14 PETANG",
        "is_active": true
    },
    {
        "id": 372,
        "nama_skpd": "SDN KEMAYORAN 15 PAGI",
        "is_active": true
    },
    {
        "id": 373,
        "nama_skpd": "SDN KEMAYORAN 16 PETANG",
        "is_active": true
    },
    {
        "id": 374,
        "nama_skpd": "SDN KEMAYORAN 17 PAGI",
        "is_active": true
    },
    {
        "id": 375,
        "nama_skpd": "KELURAHAN KEBON KOSONG",
        "is_active": true
    },
    {
        "id": 376,
        "nama_skpd": "PUSKESMAS KELURAHAN KEBON KOSONG KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 377,
        "nama_skpd": "SDN KEBON KOSONG 01 PAGI",
        "is_active": true
    },
    {
        "id": 378,
        "nama_skpd": "SDN KEBON KOSONG 02 PAGI",
        "is_active": true
    },
    {
        "id": 379,
        "nama_skpd": "SDN KEBON KOSONG 03 PAGI",
        "is_active": true
    },
    {
        "id": 380,
        "nama_skpd": "SDN KEBON KOSONG 04 PAGI",
        "is_active": true
    },
    {
        "id": 381,
        "nama_skpd": "SDN KEBON KOSONG 05 PAGI",
        "is_active": true
    },
    {
        "id": 382,
        "nama_skpd": "SDN KEBON KOSONG 07 PAGI",
        "is_active": true
    },
    {
        "id": 383,
        "nama_skpd": "SDN KEBON KOSONG 09 PAGI",
        "is_active": true
    },
    {
        "id": 384,
        "nama_skpd": "SDN KEBON KOSONG 10 PAGI",
        "is_active": true
    },
    {
        "id": 385,
        "nama_skpd": "SDN KEBON KOSONG 11 PAGI",
        "is_active": true
    },
    {
        "id": 386,
        "nama_skpd": "SDN KEBON KOSONG 13 PAGI",
        "is_active": true
    },
    {
        "id": 387,
        "nama_skpd": "SDN KEBON KOSONG 14 PAGI",
        "is_active": true
    },
    {
        "id": 388,
        "nama_skpd": "SDN KEBON KOSONG 15 PAGI",
        "is_active": true
    },
    {
        "id": 389,
        "nama_skpd": "SDN KEBON KOSONG 16 PAGI",
        "is_active": true
    },
    {
        "id": 390,
        "nama_skpd": "SDN KEBON KOSONG 17 PAGI",
        "is_active": true
    },
    {
        "id": 391,
        "nama_skpd": "SDN KEBON KOSONG 18 PAGI",
        "is_active": true
    },
    {
        "id": 392,
        "nama_skpd": "SDN KEBON KOSONG 19 PAGI",
        "is_active": true
    },
    {
        "id": 393,
        "nama_skpd": "KELURAHAN SERDANG",
        "is_active": true
    },
    {
        "id": 394,
        "nama_skpd": "PUSKESMAS KELURAHAN SERDANG KECAMATAN KEMAYORAN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 395,
        "nama_skpd": "SDN SERDANG 01 PAGI",
        "is_active": true
    },
    {
        "id": 396,
        "nama_skpd": "SDN SERDANG 03 PAGI",
        "is_active": true
    },
    {
        "id": 397,
        "nama_skpd": "SDN SERDANG 04 PETANG",
        "is_active": true
    },
    {
        "id": 398,
        "nama_skpd": "SDN SERDANG 05 PAGI",
        "is_active": true
    },
    {
        "id": 399,
        "nama_skpd": "SDN SERDANG 07 PAGI",
        "is_active": true
    },
    {
        "id": 400,
        "nama_skpd": "SDN SERDANG 09 PAGI",
        "is_active": true
    },
    {
        "id": 401,
        "nama_skpd": "SDN SERDANG 11 PAGI",
        "is_active": true
    },
    {
        "id": 402,
        "nama_skpd": "SDN SERDANG 12 PETANG",
        "is_active": true
    },
    {
        "id": 403,
        "nama_skpd": "SDN SERDANG 13 PAGI",
        "is_active": true
    },
    {
        "id": 404,
        "nama_skpd": "KELURAHAN HARAPAN MULYA",
        "is_active": true
    },
    {
        "id": 405,
        "nama_skpd": "PUSKESMAS KELURAHAN HARAPAN MULIA KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 406,
        "nama_skpd": "SDN HARAPAN MULIA 01 PAGI",
        "is_active": true
    },
    {
        "id": 407,
        "nama_skpd": "SDN HARAPAN MULIA 02 PETANG",
        "is_active": true
    },
    {
        "id": 408,
        "nama_skpd": "SDN HARAPAN MULIA 03 PAGI",
        "is_active": true
    },
    {
        "id": 409,
        "nama_skpd": "SDN HARAPAN MULIA 04 PETANG",
        "is_active": true
    },
    {
        "id": 410,
        "nama_skpd": "KELURAHAN CEMPAKA BARU",
        "is_active": true
    },
    {
        "id": 411,
        "nama_skpd": "PUSKESMAS KELURAHAN CAMPAKA BARU KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 412,
        "nama_skpd": "SDN CEMPAKA BARU 01 PAGI",
        "is_active": true
    },
    {
        "id": 413,
        "nama_skpd": "SDN CEMPAKA BARU 02 PETANG",
        "is_active": true
    },
    {
        "id": 414,
        "nama_skpd": "SDN CEMPAKA BARU 03 PAGI",
        "is_active": true
    },
    {
        "id": 415,
        "nama_skpd": "SDN CEMPAKA BARU 05 PAGI",
        "is_active": true
    },
    {
        "id": 416,
        "nama_skpd": "SDN CEMPAKA BARU 06 PETANG",
        "is_active": true
    },
    {
        "id": 417,
        "nama_skpd": "SDN CEMPAKA BARU 07 PAGI",
        "is_active": true
    },
    {
        "id": 418,
        "nama_skpd": "SDN CEMPAKA BARU 09 PAGI",
        "is_active": true
    },
    {
        "id": 419,
        "nama_skpd": "SDN CEMPAKA BARU 11 PAGI",
        "is_active": true
    },
    {
        "id": 420,
        "nama_skpd": "SDN CEMPAKA BARU 12 PAGI",
        "is_active": true
    },
    {
        "id": 421,
        "nama_skpd": "SDN CEMPAKA BARU 13 PAGI",
        "is_active": true
    },
    {
        "id": 422,
        "nama_skpd": "SDN CEMPAKA BARU 14 PAGI",
        "is_active": true
    },
    {
        "id": 423,
        "nama_skpd": "KELURAHAN SUMUR BATU",
        "is_active": true
    },
    {
        "id": 424,
        "nama_skpd": "PUSKESMAS KELURAHAN SUMUR BATU KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 425,
        "nama_skpd": "SDN SUMUR BATU 01 PAGI",
        "is_active": true
    },
    {
        "id": 426,
        "nama_skpd": "SDN SUMUR BATU 03 PAGI",
        "is_active": true
    },
    {
        "id": 427,
        "nama_skpd": "SDN SUMUR BATU 04 PAGI",
        "is_active": true
    },
    {
        "id": 428,
        "nama_skpd": "SDN SUMUR BATU 06 PAGI",
        "is_active": true
    },
    {
        "id": 429,
        "nama_skpd": "SDN SUMUR BATU 07 PETANG",
        "is_active": true
    },
    {
        "id": 430,
        "nama_skpd": "SDN SUMUR BATU 08 PAGI",
        "is_active": true
    },
    {
        "id": 431,
        "nama_skpd": "SDN SUMUR BATU 10 PAGI",
        "is_active": true
    },
    {
        "id": 432,
        "nama_skpd": "SDN SUMUR BATU 12 PAGI",
        "is_active": true
    },
    {
        "id": 433,
        "nama_skpd": "SDN SUMUR BATU 14 PAGI",
        "is_active": true
    },
    {
        "id": 434,
        "nama_skpd": "SDN SUMUR BATU 15 PETANG",
        "is_active": true
    },
    {
        "id": 435,
        "nama_skpd": "KELURAHAN UTAN PANJANG",
        "is_active": true
    },
    {
        "id": 436,
        "nama_skpd": "PUSKESMAS KELURAHAN UTAN PANJANG KECAMATAN KEMAYORAN",
        "is_active": true
    },
    {
        "id": 437,
        "nama_skpd": "SDN UTAN PANJANG 01 PAGI",
        "is_active": true
    },
    {
        "id": 438,
        "nama_skpd": "SDN UTAN PANJANG 02 PETANG",
        "is_active": true
    },
    {
        "id": 439,
        "nama_skpd": "SDN UTAN PANJANG 03 PAGI",
        "is_active": true
    },
    {
        "id": 440,
        "nama_skpd": "SDN UTAN PANJANG 04 PETANG",
        "is_active": true
    },
    {
        "id": 441,
        "nama_skpd": "KECAMATAN SENEN",
        "is_active": true
    },
    {
        "id": 442,
        "nama_skpd": "SMU 68 KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 443,
        "nama_skpd": "SMK 34 KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 444,
        "nama_skpd": "SLTP 216 KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 445,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN SENEN",
        "is_active": true
    },
    {
        "id": 446,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN SENEN",
        "is_active": true
    },
    {
        "id": 447,
        "nama_skpd": "KELURAHAN SENEN",
        "is_active": true
    },
    {
        "id": 448,
        "nama_skpd": "SDN SENEN 03 PAGI",
        "is_active": true
    },
    {
        "id": 449,
        "nama_skpd": "KELURAHAN KWITANG",
        "is_active": true
    },
    {
        "id": 450,
        "nama_skpd": "PUSKESMAS KELURAHAN KWITANG KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 451,
        "nama_skpd": "SDN KWITANG 01 PAGI",
        "is_active": true
    },
    {
        "id": 452,
        "nama_skpd": "SDN KWITANG 02 PETANG",
        "is_active": true
    },
    {
        "id": 453,
        "nama_skpd": "KELURAHAN KENARI",
        "is_active": true
    },
    {
        "id": 454,
        "nama_skpd": "PUSKESMAS KELURAHAN KENARI KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 455,
        "nama_skpd": "SDN KENARI 01 PAGI",
        "is_active": true
    },
    {
        "id": 456,
        "nama_skpd": "SDN KENARI 02 PETANG",
        "is_active": true
    },
    {
        "id": 457,
        "nama_skpd": "SDN KENARI 03 PAGI",
        "is_active": true
    },
    {
        "id": 458,
        "nama_skpd": "SDN KENARI 04 PETANG",
        "is_active": true
    },
    {
        "id": 459,
        "nama_skpd": "SDN KENARI 05 PAGI",
        "is_active": true
    },
    {
        "id": 460,
        "nama_skpd": "SDN KENARI 06 PETANG",
        "is_active": true
    },
    {
        "id": 461,
        "nama_skpd": "SDN KENARI 07 PAGI",
        "is_active": true
    },
    {
        "id": 462,
        "nama_skpd": "SDN KENARI 08 PAGI",
        "is_active": true
    },
    {
        "id": 463,
        "nama_skpd": "SDN KENARI 09 PAGI",
        "is_active": true
    },
    {
        "id": 464,
        "nama_skpd": "SDN KENARI 10 PAGI",
        "is_active": true
    },
    {
        "id": 465,
        "nama_skpd": "SDN KENARI 11 PAGI",
        "is_active": true
    },
    {
        "id": 466,
        "nama_skpd": "SDN KENARI 12 PAGI",
        "is_active": true
    },
    {
        "id": 467,
        "nama_skpd": "KELURAHAN KRAMAT",
        "is_active": true
    },
    {
        "id": 468,
        "nama_skpd": "PUSKESMAS KELURAHAN KRAMAT KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 469,
        "nama_skpd": "SDN KRAMAT 01 PAGI",
        "is_active": true
    },
    {
        "id": 470,
        "nama_skpd": "SDN KRAMAT 02 PETANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 471,
        "nama_skpd": "SDN KRAMAT 03 PAGI",
        "is_active": true
    },
    {
        "id": 472,
        "nama_skpd": "SDN KRAMAT 04 PETANG",
        "is_active": true
    },
    {
        "id": 473,
        "nama_skpd": "SDN KRAMAT 05 PAGI",
        "is_active": true
    },
    {
        "id": 474,
        "nama_skpd": "SDN KRAMAT 06 PAGI",
        "is_active": true
    },
    {
        "id": 475,
        "nama_skpd": "SDN KRAMAT 07 PETANG",
        "is_active": true
    },
    {
        "id": 476,
        "nama_skpd": "SDN KRAMAT 08 PAGI",
        "is_active": true
    },
    {
        "id": 477,
        "nama_skpd": "SDN KRAMAT 09 PETANG",
        "is_active": true
    },
    {
        "id": 478,
        "nama_skpd": "KELURAHAN PASEBAN",
        "is_active": true
    },
    {
        "id": 479,
        "nama_skpd": "PUSKEMAS KELURAHAN PASEBAN KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 480,
        "nama_skpd": "SDN PASEBAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 481,
        "nama_skpd": "SDN PASEBAN 02 PAGI",
        "is_active": true
    },
    {
        "id": 482,
        "nama_skpd": "SDN PASEBAN 03 PAGI",
        "is_active": true
    },
    {
        "id": 483,
        "nama_skpd": "SDN PASEBAN 05 PAGI",
        "is_active": true
    },
    {
        "id": 484,
        "nama_skpd": "SDN PASEBAN 07 PAGI",
        "is_active": true
    },
    {
        "id": 485,
        "nama_skpd": "SDN PASEBAN 09 PAGI",
        "is_active": true
    },
    {
        "id": 486,
        "nama_skpd": "SDN PASEBAN 11 PAGI",
        "is_active": true
    },
    {
        "id": 487,
        "nama_skpd": "SDN PASEBAN 15 PAGI",
        "is_active": true
    },
    {
        "id": 488,
        "nama_skpd": "SDN PASEBAN 17 PAGI",
        "is_active": true
    },
    {
        "id": 489,
        "nama_skpd": "SDN PASEBAN 18 PETANG",
        "is_active": true
    },
    {
        "id": 490,
        "nama_skpd": "KELURAHAN BUNGUR",
        "is_active": true
    },
    {
        "id": 491,
        "nama_skpd": "PUSKESMAS KELURAHAN BUNGUR KECAMATAN SENEN JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 492,
        "nama_skpd": "SDN BUNGUR 01 PAGI",
        "is_active": true
    },
    {
        "id": 493,
        "nama_skpd": "SDN BUNGUR 02 PETANG",
        "is_active": true
    },
    {
        "id": 494,
        "nama_skpd": "SDN BUNGUR 03 PAGI",
        "is_active": true
    },
    {
        "id": 495,
        "nama_skpd": "SDN BUNGUR 04 PETANG",
        "is_active": true
    },
    {
        "id": 496,
        "nama_skpd": "KECAMATAN CEMPAKA PUTIH",
        "is_active": true
    },
    {
        "id": 497,
        "nama_skpd": "SMU 30 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 498,
        "nama_skpd": "SMU 77 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 499,
        "nama_skpd": "SMK 39 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 500,
        "nama_skpd": "SLTP 47 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 501,
        "nama_skpd": "SLTP 71 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 502,
        "nama_skpd": "SLTP 77 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 503,
        "nama_skpd": "SLTP 118 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 504,
        "nama_skpd": "SLTP 137 KECAMATAN CEMPAKA PUTIH JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 505,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN CEMPAKA PUTIH",
        "is_active": true
    },
    {
        "id": 506,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN CEMPAKA PUTIH",
        "is_active": true
    },
    {
        "id": 507,
        "nama_skpd": "RUMAH SAKIT UMUM KELAS D CEMPAKA PUTIH",
        "is_active": true
    },
    {
        "id": 508,
        "nama_skpd": "KELURAHAN RAWASARI",
        "is_active": true
    },
    {
        "id": 509,
        "nama_skpd": "PUSKESMAS KELURAHAN RAWASARI KECAMATAN CEMPAKA PUTIH",
        "is_active": true
    },
    {
        "id": 510,
        "nama_skpd": "SDN RAWASARI 01 PAGI",
        "is_active": true
    },
    {
        "id": 511,
        "nama_skpd": "SDN RAWASARI 02 PAGI",
        "is_active": true
    },
    {
        "id": 512,
        "nama_skpd": "SDN RAWASARI 03 PAGI",
        "is_active": true
    },
    {
        "id": 513,
        "nama_skpd": "SDN RAWASARI 05 PAGI",
        "is_active": true
    },
    {
        "id": 514,
        "nama_skpd": "SDN RAWASARI 07 PAGI",
        "is_active": true
    },
    {
        "id": 515,
        "nama_skpd": "KELURAHAN CEMPAKA PUTIH TIMUR",
        "is_active": true
    },
    {
        "id": 516,
        "nama_skpd": "SDN CEMPAKA PUTIH TIMUR 01 PAGI",
        "is_active": true
    },
    {
        "id": 517,
        "nama_skpd": "SDN CEMPAKA PUTIH TIMUR 02 PETANG",
        "is_active": true
    },
    {
        "id": 518,
        "nama_skpd": "SDN CEMPAKA PUTIH TIMUR 03 PAGI",
        "is_active": true
    },
    {
        "id": 519,
        "nama_skpd": "SDN CEMPAKA PUTIH TIMUR 05 PAGI",
        "is_active": true
    },
    {
        "id": 520,
        "nama_skpd": "KELURAHAN CEMPAKA PUTIH BARAT",
        "is_active": true
    },
    {
        "id": 521,
        "nama_skpd": "PKM KELURAHAN CEMPAKA PUTIH BARAT KECAMATAN CEMPAKA PUTIH",
        "is_active": true
    },
    {
        "id": 522,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 01 PAGI",
        "is_active": true
    },
    {
        "id": 523,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 03 PAGI",
        "is_active": true
    },
    {
        "id": 524,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 04 PETANG",
        "is_active": true
    },
    {
        "id": 525,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 05 PAGI",
        "is_active": true
    },
    {
        "id": 526,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 07 PAGI",
        "is_active": true
    },
    {
        "id": 527,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 09 PAGI",
        "is_active": true
    },
    {
        "id": 528,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 11 PAGI",
        "is_active": true
    },
    {
        "id": 529,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 13 PAGI",
        "is_active": true
    },
    {
        "id": 530,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 15 PAGI",
        "is_active": true
    },
    {
        "id": 531,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 16 PAGI",
        "is_active": true
    },
    {
        "id": 532,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 17 PAGI",
        "is_active": true
    },
    {
        "id": 533,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 18 PAGI",
        "is_active": true
    },
    {
        "id": 534,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 19 PAGI",
        "is_active": true
    },
    {
        "id": 535,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 20 PAGI",
        "is_active": true
    },
    {
        "id": 536,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 21 PETANG",
        "is_active": true
    },
    {
        "id": 537,
        "nama_skpd": "SDN CEMPAKA PUTIH BARAT 26 PETANG",
        "is_active": true
    },
    {
        "id": 538,
        "nama_skpd": "KECAMATAN MENTENG",
        "is_active": true
    },
    {
        "id": 539,
        "nama_skpd": "SMK 16 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 540,
        "nama_skpd": "SLTP 1 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 541,
        "nama_skpd": "SLTP 8 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 542,
        "nama_skpd": "SLTP 18 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 543,
        "nama_skpd": "SLTP 280 KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 544,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN MENTENG",
        "is_active": true
    },
    {
        "id": 545,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN MENTENG",
        "is_active": true
    },
    {
        "id": 546,
        "nama_skpd": "KELURAHAN KEBON SIRIH",
        "is_active": true
    },
    {
        "id": 547,
        "nama_skpd": "SDN KEBON SIRIH 01 PAGI",
        "is_active": true
    },
    {
        "id": 548,
        "nama_skpd": "SDN KEBON SIRIH 03 PAGI",
        "is_active": true
    },
    {
        "id": 549,
        "nama_skpd": "SDN KEBON SIRIH 04 PAGI",
        "is_active": true
    },
    {
        "id": 550,
        "nama_skpd": "SDN KEBON SIRIH 08 PAGI",
        "is_active": true
    },
    {
        "id": 551,
        "nama_skpd": "KELURAHAN GONDANGDIA",
        "is_active": true
    },
    {
        "id": 552,
        "nama_skpd": "PUSKESMAS KELURAHAN GONDANGDIA KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 553,
        "nama_skpd": "SDN GONDANGDIA 01 PAGI",
        "is_active": true
    },
    {
        "id": 554,
        "nama_skpd": "SDN GONDANGDIA 03 PETANG",
        "is_active": true
    },
    {
        "id": 555,
        "nama_skpd": "SDN GONDANGDIA 05 PAGI",
        "is_active": true
    },
    {
        "id": 556,
        "nama_skpd": "KELURAHAN CIKINI",
        "is_active": true
    },
    {
        "id": 557,
        "nama_skpd": "SDN CIKINI 01 PAGI",
        "is_active": true
    },
    {
        "id": 558,
        "nama_skpd": "SDN CIKINI 02 PAGI",
        "is_active": true
    },
    {
        "id": 559,
        "nama_skpd": "SDN CIKINI 03 PAGI",
        "is_active": true
    },
    {
        "id": 560,
        "nama_skpd": "SDN CIKINI 04 PAGI",
        "is_active": true
    },
    {
        "id": 561,
        "nama_skpd": "KELURAHAN MENTENG",
        "is_active": true
    },
    {
        "id": 562,
        "nama_skpd": "SDN MENTENG 02 PAGI",
        "is_active": true
    },
    {
        "id": 563,
        "nama_skpd": "KELURAHAN PEGANGSAAN",
        "is_active": true
    },
    {
        "id": 564,
        "nama_skpd": "PUSKESMAS KELURAHAN PEGANGSAAN KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 565,
        "nama_skpd": "SDN PEGANGSAAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 566,
        "nama_skpd": "SDN PEGANGSAAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 567,
        "nama_skpd": "KECAMATAN TANAH ABANG",
        "is_active": true
    },
    {
        "id": 568,
        "nama_skpd": "SMU 7 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 569,
        "nama_skpd": "SMU 24 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 570,
        "nama_skpd": "SMU 35 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 571,
        "nama_skpd": "SMK 19 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 572,
        "nama_skpd": "SLTP 38 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 573,
        "nama_skpd": "SLTP 40 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 574,
        "nama_skpd": "SLTP 70 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 575,
        "nama_skpd": "SLTP 181 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 576,
        "nama_skpd": "SLTP 273 KECAMATAN TANAH ABANG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 577,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN TANAH ABANG",
        "is_active": true
    },
    {
        "id": 578,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN TANAH ABANG",
        "is_active": true
    },
    {
        "id": 579,
        "nama_skpd": "KELURAHAN KAMPUNG BALI",
        "is_active": true
    },
    {
        "id": 580,
        "nama_skpd": "PUSKESMAS KELURAHAN KAMPUNG BALI KECAMATAN MENTENG JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 581,
        "nama_skpd": "SDN KAMPUNG BALI 01 PAGI",
        "is_active": true
    },
    {
        "id": 582,
        "nama_skpd": "SDN KAMPUNG BALI 02 PETANG",
        "is_active": true
    },
    {
        "id": 583,
        "nama_skpd": "SDN KAMPUNG BALI 03 PAGI",
        "is_active": true
    },
    {
        "id": 584,
        "nama_skpd": "SDN KAMPUNG BALI 07 PAGI",
        "is_active": true
    },
    {
        "id": 585,
        "nama_skpd": "KELURAHAN KEBON KACANG",
        "is_active": true
    },
    {
        "id": 586,
        "nama_skpd": "SDN KEBON KACANG 01 PAGI",
        "is_active": true
    },
    {
        "id": 587,
        "nama_skpd": "SDN KEBON KACANG 02 PETANG",
        "is_active": true
    },
    {
        "id": 588,
        "nama_skpd": "SDN KEBON KACANG 03 PAGI",
        "is_active": true
    },
    {
        "id": 589,
        "nama_skpd": "SDN KEBON KACANG 05 PAGI",
        "is_active": true
    },
    {
        "id": 590,
        "nama_skpd": "KELURAHAN KEBON MELATI",
        "is_active": true
    },
    {
        "id": 591,
        "nama_skpd": "SDN KEBON MELATI 01 PAGI",
        "is_active": true
    },
    {
        "id": 592,
        "nama_skpd": "SDN KEBON MELATI 02 PAGI",
        "is_active": true
    },
    {
        "id": 593,
        "nama_skpd": "SDN KEBON MELATI 03 PAGI",
        "is_active": true
    },
    {
        "id": 594,
        "nama_skpd": "KELURAHAN PETAMBURAN",
        "is_active": true
    },
    {
        "id": 595,
        "nama_skpd": "PUSKESMAS KELURAHAN PETAMBURAN KECAMATAN TANAH ABANG",
        "is_active": true
    },
    {
        "id": 596,
        "nama_skpd": "SDN PETAMBURAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 597,
        "nama_skpd": "SDN PETAMBURAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 598,
        "nama_skpd": "SDN PETAMBURAN 03 PAGI",
        "is_active": true
    },
    {
        "id": 599,
        "nama_skpd": "SDN PETAMBURAN 04 PETANG",
        "is_active": true
    },
    {
        "id": 600,
        "nama_skpd": "SDN PETAMBURAN 05 PAGI",
        "is_active": true
    },
    {
        "id": 601,
        "nama_skpd": "SDN PETAMBURAN 06 PAGI",
        "is_active": true
    },
    {
        "id": 602,
        "nama_skpd": "SDN PETAMBURAN 07 PAGI",
        "is_active": true
    },
    {
        "id": 603,
        "nama_skpd": "SDN PETAMBURAN 08 PAGI",
        "is_active": true
    },
    {
        "id": 604,
        "nama_skpd": "KELURAHAN KARET TENGSIN",
        "is_active": true
    },
    {
        "id": 605,
        "nama_skpd": "SDN KARET TENGSIN 01 PAGI",
        "is_active": true
    },
    {
        "id": 606,
        "nama_skpd": "SDN KARET TENGSIN 09 PAGI",
        "is_active": true
    },
    {
        "id": 607,
        "nama_skpd": "SDN KARET TENGSIN 13 PAGI",
        "is_active": true
    },
    {
        "id": 608,
        "nama_skpd": "SDN KARET TENGSIN 14 PETANG",
        "is_active": true
    },
    {
        "id": 609,
        "nama_skpd": "SDN KARET TENGSIN 15 PAGI",
        "is_active": true
    },
    {
        "id": 610,
        "nama_skpd": "SDN KARET TENGSIN 16 PAGI",
        "is_active": true
    },
    {
        "id": 611,
        "nama_skpd": "SDN KARET TENGSIN 21 PAGI",
        "is_active": true
    },
    {
        "id": 612,
        "nama_skpd": "KELURAHAN BENDUNGAN HILIR",
        "is_active": true
    },
    {
        "id": 613,
        "nama_skpd": "PUSKESMAS KELURAHAN BENDUNGAN HILIR KECAMATAN TANAH ABANG",
        "is_active": true
    },
    {
        "id": 614,
        "nama_skpd": "SDN BENDUNGAN HILIR 01 PAGI",
        "is_active": true
    },
    {
        "id": 615,
        "nama_skpd": "SDN BENDUNGAN HILIR 02 PETANG",
        "is_active": true
    },
    {
        "id": 616,
        "nama_skpd": "SDN BENDUNGAN HILIR 03 PAGI",
        "is_active": true
    },
    {
        "id": 617,
        "nama_skpd": "SDN BENDUNGAN HILIR 05 PAGI",
        "is_active": true
    },
    {
        "id": 618,
        "nama_skpd": "SDN BENDUNGAN HILIR 06 PETANG",
        "is_active": true
    },
    {
        "id": 619,
        "nama_skpd": "SDN BENDUNGAN HILIR 07 PAGI",
        "is_active": true
    },
    {
        "id": 620,
        "nama_skpd": "SDN BENDUNGAN HILIR 09 PAGI",
        "is_active": true
    },
    {
        "id": 621,
        "nama_skpd": "SDN BENDUNGAN HILIR 11 PAGI",
        "is_active": true
    },
    {
        "id": 622,
        "nama_skpd": "SDN BENDUNGAN HILIR 12 PAGI",
        "is_active": true
    },
    {
        "id": 623,
        "nama_skpd": "KELURAHAN GELORA",
        "is_active": true
    },
    {
        "id": 624,
        "nama_skpd": "KECAMATAN JOHAR BARU",
        "is_active": true
    },
    {
        "id": 625,
        "nama_skpd": "SMU 27 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 626,
        "nama_skpd": "SMK 14 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 627,
        "nama_skpd": "SMK 31 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 628,
        "nama_skpd": "SLTP 2 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 629,
        "nama_skpd": "SLTP 28 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 630,
        "nama_skpd": "SLTP 76 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 631,
        "nama_skpd": "SLTP 156 KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 632,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN JOHAR BARU",
        "is_active": true
    },
    {
        "id": 633,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN JOHAR BARU",
        "is_active": true
    },
    {
        "id": 634,
        "nama_skpd": "RUMAH SAKIT UMUM KELAS D JOHOR BARU",
        "is_active": true
    },
    {
        "id": 635,
        "nama_skpd": "KELURAHAN JOHAR BARU",
        "is_active": true
    },
    {
        "id": 636,
        "nama_skpd": "PUSKESMAS KELURAHAN JOHAR BARU KECAMATAN JOHAR BARU",
        "is_active": true
    },
    {
        "id": 637,
        "nama_skpd": "SDN JOHAR BARU 01 PAGI",
        "is_active": true
    },
    {
        "id": 638,
        "nama_skpd": "SDN JOHAR BARU 03 PAGI",
        "is_active": true
    },
    {
        "id": 639,
        "nama_skpd": "SDN JOHAR BARU 04 PETANG",
        "is_active": true
    },
    {
        "id": 640,
        "nama_skpd": "SDN JOHAR BARU 05 PAGI",
        "is_active": true
    },
    {
        "id": 641,
        "nama_skpd": "SDN JOHAR BARU 07 PAGI",
        "is_active": true
    },
    {
        "id": 642,
        "nama_skpd": "SDN JOHAR BARU 09 PAGI",
        "is_active": true
    },
    {
        "id": 643,
        "nama_skpd": "SDN JOHAR BARU 10 PAGI",
        "is_active": true
    },
    {
        "id": 644,
        "nama_skpd": "SDN JOHAR BARU 13 PAGI",
        "is_active": true
    },
    {
        "id": 645,
        "nama_skpd": "SDN JOHAR BARU 14 PETANG",
        "is_active": true
    },
    {
        "id": 646,
        "nama_skpd": "SDN JOHAR BARU 15 PAGI",
        "is_active": true
    },
    {
        "id": 647,
        "nama_skpd": "SDN JOHAR BARU 16 PETANG",
        "is_active": true
    },
    {
        "id": 648,
        "nama_skpd": "SDN JOHAR BARU 17 PAGI",
        "is_active": true
    },
    {
        "id": 649,
        "nama_skpd": "SDN JOHAR BARU 18 PETANG",
        "is_active": true
    },
    {
        "id": 650,
        "nama_skpd": "SDN JOHAR BARU 19 PAGI",
        "is_active": true
    },
    {
        "id": 651,
        "nama_skpd": "SDN JOHAR BARU 21 PAGI",
        "is_active": true
    },
    {
        "id": 652,
        "nama_skpd": "SDN JOHAR BARU 23 PAGI",
        "is_active": true
    },
    {
        "id": 653,
        "nama_skpd": "SDN JOHAR BARU 25 PAGI",
        "is_active": true
    },
    {
        "id": 654,
        "nama_skpd": "SDN JOHAR BARU 29 PAGI",
        "is_active": true
    },
    {
        "id": 655,
        "nama_skpd": "SDN JOHAR BARU 31 PAGI",
        "is_active": true
    },
    {
        "id": 656,
        "nama_skpd": "KELURAHAN KAMPUNG RAWA",
        "is_active": true
    },
    {
        "id": 657,
        "nama_skpd": "PUSKESMAS KELURAHAN KAMPUNG RAWA KECAMATAN JOHAR BARU",
        "is_active": true
    },
    {
        "id": 658,
        "nama_skpd": "SDN KAMPUNG RAWA 01 PAGI",
        "is_active": true
    },
    {
        "id": 659,
        "nama_skpd": "SDN KAMPUNG RAWA 02 PETANG",
        "is_active": true
    },
    {
        "id": 660,
        "nama_skpd": "KELURAHAN GALUR",
        "is_active": true
    },
    {
        "id": 661,
        "nama_skpd": "PUSKESMAS KELURAHAN GALUR KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 662,
        "nama_skpd": "SDN GALUR 01 PAGI",
        "is_active": true
    },
    {
        "id": 663,
        "nama_skpd": "SDN GALUR 02 PETANG",
        "is_active": true
    },
    {
        "id": 664,
        "nama_skpd": "SDN GALUR 03 PAGI",
        "is_active": true
    },
    {
        "id": 665,
        "nama_skpd": "SDN GALUR 04 PETANG",
        "is_active": true
    },
    {
        "id": 666,
        "nama_skpd": "KELURAHAN TANAH TINGGI",
        "is_active": true
    },
    {
        "id": 667,
        "nama_skpd": "PUSKESMAS KELURAHAN TANAH TINGGI KECAMATAN JOHAR BARU JAKARTA PUSAT",
        "is_active": true
    },
    {
        "id": 668,
        "nama_skpd": "SDN TANAH TINGGI 01 PAGI",
        "is_active": true
    },
    {
        "id": 669,
        "nama_skpd": "SDN TANAH TINGGI 02 PETANG",
        "is_active": true
    },
    {
        "id": 670,
        "nama_skpd": "SDN TANAH TINGGI 03 PAGI",
        "is_active": true
    },
    {
        "id": 671,
        "nama_skpd": "SDN TANAH TINGGI 04 PETANG",
        "is_active": true
    },
    {
        "id": 672,
        "nama_skpd": "SDN TANAH TINGGI 05 PAGI",
        "is_active": true
    },
    {
        "id": 673,
        "nama_skpd": "SDN TANAH TINGGI 06 PETANG",
        "is_active": true
    },
    {
        "id": 674,
        "nama_skpd": "SDN TANAH TINGGI 07 PAGI",
        "is_active": true
    },
    {
        "id": 675,
        "nama_skpd": "SDN TANAH TINGGI 09 PAGI",
        "is_active": true
    },
    {
        "id": 676,
        "nama_skpd": "SDN TANAH TINGGI 10 PETANG",
        "is_active": true
    },
    {
        "id": 677,
        "nama_skpd": "SDN TANAH TINGGI 11 PAGI",
        "is_active": true
    },
    {
        "id": 678,
        "nama_skpd": "INSPEKTORAT PEMBANTU KABUPATEN ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 679,
        "nama_skpd": "SEKRETARIAT KPU KABUPATEN ADM KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 680,
        "nama_skpd": "SEKRETARIAT KABUPATEN ADMINISTRASI KEP SERIBU",
        "is_active": true
    },
    {
        "id": 681,
        "nama_skpd": "PELAKSANA PENANGGULANGAN BENCANA KAB ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 682,
        "nama_skpd": "KANTOR PTSP KABUPATEN ADMINISTRASI KEP SERIBU",
        "is_active": true
    },
    {
        "id": 683,
        "nama_skpd": "UNIT LAYANAN PENGADAAN BARANG JASA KOTA ADM JAKARTA TIMUR",
        "is_active": true
    },
    {
        "id": 684,
        "nama_skpd": "SEKRETARIAT DEWAN PENGURUS KORPS PEGAWAI REPUBLIK INDONESIA KAB ADM K SERIBU",
        "is_active": true
    },
    {
        "id": 685,
        "nama_skpd": "KANTOR PERENCANAAN PEMBANGUNAN KAB ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 686,
        "nama_skpd": "KANTOR PENGELOLA KEUANGAN DAERAH KAB KEP SERIBU",
        "is_active": true
    },
    {
        "id": 687,
        "nama_skpd": "KANTOR KEPEGAWAIAN KABUPATEN ADM KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 688,
        "nama_skpd": "KANTOR KESATUAN BANGSA DAN POLITIK KAB KEP SERIBU",
        "is_active": true
    },
    {
        "id": 689,
        "nama_skpd": "KANTOR PENGELOLA LINGKUNGAN HIDUNIT PENGELOLA KAB ADM KEP 1000",
        "is_active": true
    },
    {
        "id": 690,
        "nama_skpd": "KANTOR PEMB MASY DAN PEREMPUAN DAN KB KAB KEP SERIBU",
        "is_active": true
    },
    {
        "id": 691,
        "nama_skpd": "KANTOR PERPUSTAKAAN DAN ARSIP KAB ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 692,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KAB KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 693,
        "nama_skpd": "SUDIN OLAHRAGA DAN PEMUDA KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 694,
        "nama_skpd": "SUDIN KESEHATAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 695,
        "nama_skpd": "SUDIN PENDIDIKAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 696,
        "nama_skpd": "SUDIN SOSIAL KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 697,
        "nama_skpd": "SUDIN KEBERSIHAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 698,
        "nama_skpd": "SUDIN PERTAMANAN DAN PEMAKAMAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 699,
        "nama_skpd": "SUDIN TATA AIR KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 700,
        "nama_skpd": "SUDIN PENATAAN KOTA KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 701,
        "nama_skpd": "SUDIN PERUMAHAN DAN GEDUNG PEMERINTAHAN DAERAH KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 702,
        "nama_skpd": "SUDIN BINA MARGA KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 703,
        "nama_skpd": "SUDIN TENAGA KERJA DAN TRANSMIGRASI KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 704,
        "nama_skpd": "SUDIN PERHUBUNGAN DAN TRANSPORTASI KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 705,
        "nama_skpd": "SUDIN PARIWISATA DAN KEBUDAYAAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 706,
        "nama_skpd": "SUDIN KELAUTAN, PERTANIAN, DAN KETAHANAN PANGAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 707,
        "nama_skpd": "SUDIN PERINDUSTRIAN DAN ENERGI KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 708,
        "nama_skpd": "SUDIN KOPERASI, USAHA MIKRO, KECIL, DAN MENENGAH, SERTA PERDAGANGAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 709,
        "nama_skpd": "SUDIN KOMUNIKASI, INFORMATIKA, DAN KEHUMASAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 710,
        "nama_skpd": "SUDIN PENANGGULANGAN KEBAKARAN KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 711,
        "nama_skpd": "SUDIN KEPENDUDUKAN DAN PENCATATAN SIPIL KABUPATEN KEPULAUAN SERIBU",
        "is_active": true
    },
    {
        "id": 712,
        "nama_skpd": "SATUAN POLISI PAMONG PRAJA KAB ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 713,
        "nama_skpd": "RUMAH SAKIT UMUM DAERAH KABUPATEN ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 714,
        "nama_skpd": "KECAMATAN KEPULAUAN SERIBU UTARA",
        "is_active": true
    },
    {
        "id": 715,
        "nama_skpd": "SMUN 69 KEP SERIBU",
        "is_active": true
    },
    {
        "id": 716,
        "nama_skpd": "SLTPN 133 KEP SERIBU UTARA",
        "is_active": true
    },
    {
        "id": 717,
        "nama_skpd": "SLTPN 241 KEP SERIBU SELATAN",
        "is_active": true
    },
    {
        "id": 718,
        "nama_skpd": "SLTPN 260 KEP SERIBU UTARA",
        "is_active": true
    },
    {
        "id": 719,
        "nama_skpd": "SLTPN 285 KAB ADM KEP SERIBU KECAMATAN KEP SERIBU SLATAN",
        "is_active": true
    },
    {
        "id": 720,
        "nama_skpd": "PUSKESMAS KECAMATAN KEPULAUAN SERIBU UTARA",
        "is_active": true
    },
    {
        "id": 721,
        "nama_skpd": "KELURAHAN PULAU KELAPA",
        "is_active": true
    },
    {
        "id": 722,
        "nama_skpd": "SDN PULAU PANGGANG 01 PG",
        "is_active": true
    },
    {
        "id": 723,
        "nama_skpd": "SDN PULAU PANGGANG 02 PAGI",
        "is_active": true
    },
    {
        "id": 724,
        "nama_skpd": "SDN PULAU PANGGANG 03 PG",
        "is_active": true
    },
    {
        "id": 725,
        "nama_skpd": "KELURAHAN PULAU TIDUNG",
        "is_active": true
    },
    {
        "id": 726,
        "nama_skpd": "SDN PULAU KELAPA 01 PG",
        "is_active": true
    },
    {
        "id": 727,
        "nama_skpd": "SDN PULAU KELAPA 02 PG",
        "is_active": true
    },
    {
        "id": 728,
        "nama_skpd": "KELURAHAN PULAU HARAPAN",
        "is_active": true
    },
    {
        "id": 729,
        "nama_skpd": "PUSKESMAS KELURAHAN PULAU HARAPAN KEP SERIBU",
        "is_active": true
    },
    {
        "id": 730,
        "nama_skpd": "SDN PULAU HARAPAN 01 PG",
        "is_active": true
    },
    {
        "id": 731,
        "nama_skpd": "SDN PULAU HARAPAN 02 PG",
        "is_active": true
    },
    {
        "id": 732,
        "nama_skpd": "KECAMATAN KEPULAUAN SERIBU SELATAN",
        "is_active": true
    },
    {
        "id": 733,
        "nama_skpd": "SMK NEGERI 61 KAB ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 734,
        "nama_skpd": "SMP NEGERI 288 KAB ADM KEP SERIBU",
        "is_active": true
    },
    {
        "id": 735,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KEP SERIBU SELATAN",
        "is_active": true
    },
    {
        "id": 736,
        "nama_skpd": "KELURAHAN PULAU UNTUNG JAWA",
        "is_active": true
    },
    {
        "id": 737,
        "nama_skpd": "PUSKESMAS KELURAHAN PULAU UNTUNG JAWA KECAMATAN KEP SERIBU SEL",
        "is_active": true
    },
    {
        "id": 738,
        "nama_skpd": "SDN PULAU PARI 01 PG",
        "is_active": true
    },
    {
        "id": 739,
        "nama_skpd": "SDN PULAU PARI 02 PG",
        "is_active": true
    },
    {
        "id": 740,
        "nama_skpd": "KELURAHAN PULAU PANGGANG",
        "is_active": true
    },
    {
        "id": 741,
        "nama_skpd": "PUSKESMAS KELURAHAN PULAU PANGGANG KECAMATAN KEP SERIBU UTARA",
        "is_active": true
    },
    {
        "id": 742,
        "nama_skpd": "SDN PULAU TIDUNG 01 PG",
        "is_active": true
    },
    {
        "id": 743,
        "nama_skpd": "SDN PULAU TIDUNG 02 PG",
        "is_active": true
    },
    {
        "id": 744,
        "nama_skpd": "SDN PULAU TIDUNG 03 PG",
        "is_active": true
    },
    {
        "id": 745,
        "nama_skpd": "SDN PULAU TIDUNG 04 PG",
        "is_active": true
    },
    {
        "id": 746,
        "nama_skpd": "KELURAHAN PULAU PARI",
        "is_active": true
    },
    {
        "id": 747,
        "nama_skpd": "PUSKESMAS KELURAHAN PULAU PARI KEP SERIBU",
        "is_active": true
    },
    {
        "id": 748,
        "nama_skpd": "SDN PULAU UNTUNG JAWA 01 PG",
        "is_active": true
    },
    {
        "id": 749,
        "nama_skpd": "INSPEKTORAT PEMBANTU KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 750,
        "nama_skpd": "SEKRETARIAT KPU KOTA ADMINISTRASI JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 751,
        "nama_skpd": "SEKRETARIAT KOTA ADMINISTRASI JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 752,
        "nama_skpd": "PELAKSANA PENANGGULANGAN BENCANA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 753,
        "nama_skpd": "KANTOR PTSP KOTA ADMINISTRASI JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 754,
        "nama_skpd": "UNIT LAYANAN PENGADAAN BARANG JASA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 755,
        "nama_skpd": "SEKRETARIAT DEWAN PENGURUS KORPS PEGAWAI REPUBLIK INDONESIA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 756,
        "nama_skpd": "KANTOR PERENCANAAN PEMBANGUNAN KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 757,
        "nama_skpd": "KANTOR PERBENDAHARAAN DAN KAS KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 758,
        "nama_skpd": "KANTOR PENGELOLAAN ASET DAERAH KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 759,
        "nama_skpd": "KANTOR KEPEGAWAIAN KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 760,
        "nama_skpd": "KANTOR KESATUAN BANGSA DAN POLITIK KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 761,
        "nama_skpd": "KANTOR PENGELOLA LINGKUNGAN HIDUNIT PENGELOLA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 762,
        "nama_skpd": "KANTOR PEMBERDAYAAN MASY DAN PEREMPUAN KOTA ADM JU",
        "is_active": true
    },
    {
        "id": 763,
        "nama_skpd": "KANTOR KELUARGA BERENCANA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 764,
        "nama_skpd": "KANTOR PERPUSTAKAAN DAN ARSIP KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 765,
        "nama_skpd": "SUDIN PELAYANAN PAJAK KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 766,
        "nama_skpd": "UNIT PELAYANAN PENAGIHAN AKTIF KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 767,
        "nama_skpd": "UNIT PELAYANAN PKB DAN BBN-KB KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 768,
        "nama_skpd": "SUDIN OLAHRAGA DAN PEMUDA KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 769,
        "nama_skpd": "UNIT PENGELOLA GELANGGANG REMAJA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 770,
        "nama_skpd": "SUDIN KESEHATAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 771,
        "nama_skpd": "SUDIN PENDIDIKAN WILAYAH I KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 772,
        "nama_skpd": "SUDIN PENDIDIKAN WILAYAH II KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 773,
        "nama_skpd": "PUSAT PENGEMBANGAN KOMP GURU DAN KEJ KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 774,
        "nama_skpd": "SUDIN SOSIAL KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 775,
        "nama_skpd": "SUDIN KEBERSIHAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 776,
        "nama_skpd": "SUDIN PERTAMANAN DAN PEMAKAMAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 777,
        "nama_skpd": "SUDIN TATA AIR KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 778,
        "nama_skpd": "SUDIN PENATAAN KOTA KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 779,
        "nama_skpd": "SUDIN PERUMAHAN DAN GEDUNG PEMERINTAHAN DAERAH KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 780,
        "nama_skpd": "SUDIN BINA MARGA KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 781,
        "nama_skpd": "SUDIN TENAGA KERJA DAN TRANSMIGRASI KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 782,
        "nama_skpd": "PUSAT PELATIHAN KERJA DAERAH KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 783,
        "nama_skpd": "SUDIN PERHUBUNGAN DAN TRANSPORTASI KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 784,
        "nama_skpd": "SUDIN PARIWISATA DAN KEBUDAYAAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 785,
        "nama_skpd": "SUDIN KELAUTAN, PERTANIAN, DAN KETAHANAN PANGAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 786,
        "nama_skpd": "SUDIN PERINDUSTRIAN DAN ENERGI KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 787,
        "nama_skpd": "SUDIN KOPERASI, USAHA MIKRO, KECIL, DAN MENENGAH, SERTA PERDAGANGAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 788,
        "nama_skpd": "SUDIN KOMUNIKASI, INFORMATIKA, DAN KEHUMASAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 789,
        "nama_skpd": "SUDIN PENANGGULANGAN KEBAKARAN KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 790,
        "nama_skpd": "SUDIN KEPENDUDUKAN DAN PENCATATAN SIPIL KOTA JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 791,
        "nama_skpd": "SATUAN POLISI PAMONG PRAJA KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 792,
        "nama_skpd": "SATUAN PELAKSANA BAZIS KOTA ADM JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 793,
        "nama_skpd": "KECAMATAN PENJARINGAN",
        "is_active": true
    },
    {
        "id": 794,
        "nama_skpd": "SMU 111 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 795,
        "nama_skpd": "SMK 56 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 796,
        "nama_skpd": "SLTP 21 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 797,
        "nama_skpd": "SLTP 112 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 798,
        "nama_skpd": "SLTP 120 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 799,
        "nama_skpd": "SLTP 122 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 800,
        "nama_skpd": "SLTP 261 KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 801,
        "nama_skpd": "PUSAT KESEHATAN MASYARAKAT KECAMATAN PENJARINGAN",
        "is_active": true
    },
    {
        "id": 802,
        "nama_skpd": "UNIT PELAYANAN PAJAK DAERAH KECAMATAN PENJARINGAN",
        "is_active": true
    },
    {
        "id": 803,
        "nama_skpd": "KELURAHAN KAMAL MUARA",
        "is_active": true
    },
    {
        "id": 804,
        "nama_skpd": "PUSKESMAS KELURAHAN KAMAL MUARA KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 805,
        "nama_skpd": "SDN KAMAL MUARA 01 PAGI",
        "is_active": true
    },
    {
        "id": 806,
        "nama_skpd": "SDN KAMAL MUARA 02 PAGI",
        "is_active": true
    },
    {
        "id": 807,
        "nama_skpd": "KELURAHAN KAPUK MUARA",
        "is_active": true
    },
    {
        "id": 808,
        "nama_skpd": "PUSKESMAS KELURAHAN KAPUK MUARA KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 809,
        "nama_skpd": "SDN KAPUK MUARA 01 PAGI",
        "is_active": true
    },
    {
        "id": 810,
        "nama_skpd": "SDN KAPUK MUARA 02 PETANG",
        "is_active": true
    },
    {
        "id": 811,
        "nama_skpd": "SDN KAPUK MUARA 03 PAGI",
        "is_active": true
    },
    {
        "id": 812,
        "nama_skpd": "SDN KAPUK MUARA 04 PETANG",
        "is_active": true
    },
    {
        "id": 813,
        "nama_skpd": "SDN KAPUK MUARA 05 PAGI",
        "is_active": true
    },
    {
        "id": 814,
        "nama_skpd": "SDN KAPUK MUARA 06 PETANG",
        "is_active": true
    },
    {
        "id": 815,
        "nama_skpd": "SDN KAPUK MUARA 07 PAGI",
        "is_active": true
    },
    {
        "id": 816,
        "nama_skpd": "SDN KAPUK MUARA 08 PETANG",
        "is_active": true
    },
    {
        "id": 817,
        "nama_skpd": "KELURAHAN PEJAGALAN",
        "is_active": true
    },
    {
        "id": 818,
        "nama_skpd": "SDN PEJAGALAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 819,
        "nama_skpd": "SDN PEJAGALAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 820,
        "nama_skpd": "SDN PEJAGALAN 03 PAGI",
        "is_active": true
    },
    {
        "id": 821,
        "nama_skpd": "SDN PEJAGALAN 04 PETANG",
        "is_active": true
    },
    {
        "id": 822,
        "nama_skpd": "SDN PEJAGALAN 05 PAGI",
        "is_active": true
    },
    {
        "id": 823,
        "nama_skpd": "SDN PEJAGALAN 06 PETANG",
        "is_active": true
    },
    {
        "id": 824,
        "nama_skpd": "SDN PEJAGALAN 07 PAGI",
        "is_active": true
    },
    {
        "id": 825,
        "nama_skpd": "SDN PEJAGALAN 08 PETANG",
        "is_active": true
    },
    {
        "id": 826,
        "nama_skpd": "SDN PEJAGALAN 09 PAGI",
        "is_active": true
    },
    {
        "id": 827,
        "nama_skpd": "SDN PEJAGALAN 10 PETANG",
        "is_active": true
    },
    {
        "id": 828,
        "nama_skpd": "SDN PEJAGALAN 11 PAGI",
        "is_active": true
    },
    {
        "id": 829,
        "nama_skpd": "SDN PEJAGALAN 12 PETANG",
        "is_active": true
    },
    {
        "id": 830,
        "nama_skpd": "KELURAHAN PENJARINGAN",
        "is_active": true
    },
    {
        "id": 831,
        "nama_skpd": "PUSKESMAS KELURAHAN PENJARINGAN KECAMATAN PENJARINGAN JAKARTA UTARA",
        "is_active": true
    },
    {
        "id": 832,
        "nama_skpd": "SDN PENJARINGAN 01 PAGI",
        "is_active": true
    },
    {
        "id": 833,
        "nama_skpd": "SDN PENJARINGAN 02 PETANG",
        "is_active": true
    },
    {
        "id": 834,
        "nama_skpd": "SDN PENJARINGAN 03 PAGI",
        "is_active": true
    },
    {
        "id": 835,
        "nama_skpd": "SDN PENJARINGAN 04 PAGI",
        "is_active": true
    },
    {
        "id": 836,
        "nama_skpd": "SDN PENJARINGAN 05 PETANG",
        "is_active": true
    },
    {
        "id": 837,
        "nama_skpd": "SDN PENJARINGAN 06 PAGI",
        "is_active": true
    },
    {
        "id": 838,
        "nama_skpd": "SDN PENJARINGAN 07 PETANG",
        "is_active": true
    },
    {
        "id": 839,
        "nama_skpd": "SDN PENJARINGAN 08 PAGI",
[...]
